<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="auditDetail" class="com.hlb.dblogging.jpa.model.AuditDetail"></bean>
	<bean id="auditDetailService" class="com.hlb.dblogging.jpa.service.AuditDetailServiceImpl"></bean>

	<bean id="auditMaster" class="com.hlb.dblogging.jpa.model.AuditMaster"></bean>
	<bean id="auditMasterService" class="com.hlb.dblogging.jpa.service.AuditMasterServiceImpl"></bean>
	
	<bean id="users" class="com.hlb.dblogging.jpa.model.Users"></bean>
	<bean id="usersService" class="com.hlb.dblogging.security.users.service.UsersServiceImpl"></bean>
	
	<bean id="configurationBean" class="com.hlb.dblogging.jpa.model.ConfigurationProperties"></bean>
	<bean id="configurationPropertiesService" class="com.hlb.dblogging.jpa.service.ConfigurationPropertiesServiceImpl"></bean>
	
	<bean id="systemAuditTrail" class="com.hlb.dblogging.jpa.model.SystemAuditTrail"/>
	
	<bean id="systemAuditTrailService" class="com.hlb.dblogging.user.audit.logging.SystemAuditTrailRecordServiceImpl"></bean>
	<bean id="auditTrail" class="com.hlb.dblogging.user.audit.logging.AuditTrail">
		<property name="systemAuditTrailRecordService" >
			<ref bean="systemAuditTrailService"/>
		</property>
	</bean>
	<bean id="xslt" class="com.hlb.dblogging.jpa.model.XSLT"></bean>
	<bean id="xsltService" class="com.hlb.dblogging.jpa.service.XSLTServiceImpl"></bean>
	
	<bean id="applicationContextProvider" class="com.hlb.dblogging.app.context.ApplicationContextProvider"></bean>
</beans>